@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ---------------- */
/* Nav Styling */
/* ---------------- */

.logo-text {
  margin-left: 4px;
  color: #000;
  font-family: Inspiration;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.links li {
  color: var(--gray-gray-700, #4a5568);
  /* Headings/Headings-h6 */
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
}
.contact-btn {
  display: flex;
  padding: 1.4rem 2.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 1rem;
  border-radius: 5px;
  background: linear-gradient(225deg, #6675f7 0%, #57007b 100%);
  color: var(--gray-gray-50, #fafafa);
  /* Button-text/btn-lg */
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem;
}

/* ---------------- */
/* Hero Styling */
/* ---------------- */
.hero-container {
  /* padding: 6.9rem 19.1rem 10.6rem 10.4rem; */
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 6.9rem 19.1rem 10.6rem 10.4rem;
}

.hero-title {
  color: var(--gray-gray-900, #1a202c);
  /* Headings/Lite-h1 */
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 71px;
}
.word-product {
  background: linear-gradient(180deg, #de4396 0%, rgba(13, 28, 159, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
}
.word-built {
  color: var(--gray-gray-900, #1a202c);
  /* Display/Display/Dilplay-h1-bold */
  font-family: Inter;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: 71px;
}
.word-teams {
  background: linear-gradient(225deg, #f7666f 0%, #406aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Display/Display/Dilplay-h1-bold */
  font-family: Inter;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: 71px;
}
.hero-description {
  color: var(--gray-gray-700, #4a5568);

  /* Paragraphs/default-lg */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 200% */
  margin-top: 2.8rem;
}
.hero-btn {
  border: none;
  border-radius: 5px;
  background: #3d63ea;

  /* Btn-Shadow */
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 19px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--gray-gray-50, #fafafa);

  /* Button-text/btn-lg */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
  margin-top: 5rem;
}

.hero-eclipse {
  position: absolute;
}
